:root {
  --background-color: #000000;
  --foreground-color: #ffffff;
  --color-one: #121212;
  --color-two: #808080;
  --color-three: #999999;
  --color-four: #666666;
  --color-five: #bfbfbf;
  --color-six: #e0e0e0;
  --color-seven: #555555;
}
