:root {
  --background-color: #000;
  --foreground-color: #fff;
  --logo-color: #e0e0e0;
  --color-one: #121212;
  --color-two: #808080;
  --color-three: #999;
  --color-four: #666;
  --color-five: #bfbfbf;
  --color-six: #e0e0e0;
  --color-seven: #555;
}
