:root {
  --background-color: #44475a;
  --foreground-color: #8be9fd;
  --color-one: #ff5555;
  --color-two: #50fa7b;
  --color-three: #ffb86c;
  --color-four: #bd93f9;
  --color-five: #ff79c6;
  --color-six: #94a3a5;
  --color-seven: #ffffff;
}
