:root {
  --background-color: #1d2021;
  --foreground-color: #ebdbb2;
  --logo-color: #ebdbb2;
  --color-one: #282828;
  --color-two: #98971a;
  --color-three: #d79921;
  --color-four: #458588;
  --color-five: #b16286;
  --color-six: #689d6a;
  --color-seven: #fff;
}
