:root {
  --background-color: #49483Eff;
  --foreground-color: #FFB269;
  --logo-color: #ffd866;
  --color-one: #272822ff;
  --color-two: #61AFEF;
  --color-three: #ffd866;
  --color-four: #fc9867;
  --color-five: #ab9df2;
  --color-six: #78dce8;
  --color-seven: #fff;
}
