:root {
  --background-color: #122736ff;
  --foreground-color: #a2e2a9;
  --color-one: #121B2Cff;
  --color-two: #f08282;
  --color-three: #ABC5AAff;
  --color-four: #e6d2d2;
  --color-five: #81a1c1;
  --color-six: #e2ecd6;
  --color-seven: #fff;
}
