:root {
  --background-color: #282c34;
  --foreground-color: #abb2bf;
  --color-one: #3b4048;
  --color-two: #a3be8c;
  --color-three: #b48ead;
  --color-four: #c8ccd4;
  --color-five: #e06c75;
  --color-six: #61afef;
  --color-seven: #be5046;
}
