:root {
  --background-color: #232136;
  --foreground-color: #e0def4;
  --logo-color: #ea9a97;
  --color-one: #393552;
  --color-two: #c4a7e7;
  --color-three: #9ccfd8;
  --color-four: #f6c177;
  --color-five: #ea9a97;
  --color-six: #6e6a86;
  --color-seven: #e0def4;
}
