:root {
    --background-color: #191724;
    --foreground-color: #e0def4;
    --logo-color: #ebbcba;
    --color-one: #26233a;
    --color-two: #c4a7e7;
    --color-three: #9ccfd8;
    --color-four: #f6c177;
    --color-five: #eb6f92;
    --color-six: #6e6a86;
    --color-seven: #e0def4;
}
