:root {
  --background-color: #191724;
  --foreground-color: #1f1d2e;
  --logo-color: #e0def4;
  --color-one: #eb6f92;
  --color-two: #f38ba8;
  --color-three: #a6e3a1;
  --color-four: #f9e2af;
  --color-five: #89b4fa;
  --color-six: #f5c2e7;
  --color-seven: #fff;
}
