:root {
  --background-color: #EEE8D5ff;
  --foreground-color: #B58900ff;
  --color-one: #fdf6e3;
  --color-two: #DC322Fff;
  --color-three: #586E75ff;
  --color-four: #b58900;
  --color-five: #268bd2;
  --color-six: #d33682;
  --color-seven: #fff;
}
