:root {
  --background-color: #002b36;
  --foreground-color: #c9e0e6;
  --color-one: #073642;
  --color-two: #2AA198ff;
  --color-three: #2AA198ff;
  --color-four: #EEE8D5ff;
  --color-five: #268bd2;
  --color-six: #d33682;
  --color-seven: #fff;
}
