:root {
  --background-color: #1a1b26;
  --foreground-color: #c0caf5;
  --color-one: #32364a;
  --color-two: #a9b1d6;
  --color-three: #5a5bb8;
  --color-four: #6b7089;
  --color-five: #e2afff;
  --color-six: #a9a1e1;
  --color-seven: #988bc7;
}
