:root {
  --background-color: #35383Cff;
  --foreground-color: #D7DAD8ff;
  --logo-color: #D7DAD8ff;
  --color-one: #1d1f21;
  --color-two: #D77C79ff;
  --color-three: #f0c674;
  --color-four: #92B2CAff;
  --color-five: #C0A7C7ff;
  --color-six: #9AC9C4ff;
  --color-seven: #fff;
}
