.results_aggregated .result {
  padding: 1.2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  transition: background-color 0.1s ease-in-out, border-left 0.2s ease-in-out;
  box-sizing: border-box;
  border-left: 2px solid transparent;
}

.results_aggregated .result:hover {
  background-color: var(--color-one);
  border-left: 2px solid var(--color-two);
}
