{{>header this}}
<main class="about-container">
  <article >
    <div>
    <h1 >Websurfx</h1>
    <hr size="4" width="100%" color="#a6e3a1"> 
    </div>
    <p>A modern-looking, lightning-fast, privacy-respecting, secure meta search engine written in Rust. It provides a fast and secure search experience while respecting user privacy.<br> It aggregates results from multiple search engines and presents them in an unbiased manner, filtering out trackers and ads.
    </p>

    <h2>Some of the Top Features:</h2>

    <ul><strong>Lightning fast </strong>- Results load within milliseconds for an instant search experience.</ul>

    <ul><strong>Secure search</strong> - All searches are performed over an encrypted connection to prevent snooping.</ul>

    <ul><strong>Ad free results</strong> - All search results are ad free and clutter free for a clean search experience.</ul>

    <ul><strong>Privacy focused</strong> - Websurface does not track, store or sell your search data. Your privacy is our priority.</ul>

    <ul><strong>Free and Open source</strong> - The entire project's code is open source and available for free on <a href="https://github.com/neon-mmd/websurfx">GitHub</a> under an GNU Affero General Public License.</ul>

    <ul><strong>Highly customizable</strong> - Websurface comes with 9 built-in color themes and supports creating custom themes effortlessly.</ul>
  </article>

  <h3>Devoloped by: <a href="https://github.com/neon-mmd/websurfx">Websurfx team</a></h3>
</main>
{{>footer}}

