<div class="engines tab">
    <h1>Engines</h1>
    <h3>select search engines</h3>
    <p class="description">
        Select the search engines from the list of engines that you want results
        from
    </p>
    <div class="engine_selection">
        <div class="toggle_btn">
            <label class="switch">
                <input type="checkbox" class="select_all" onchange="toggleAllSelection()" />
                <span class="slider round"></span>
            </label>
            Select All
        </div>
        <hr />
        <div class="toggle_btn">
            <label class="switch">
                <input type="checkbox" class="engine" />
                <span class="slider round"></span>
            </label>
            DuckDuckGo
        </div>
        <div class="toggle_btn">
            <label class="switch">
                <input type="checkbox" class="engine" />
                <span class="slider round"></span>
            </label>
            Searx
        </div>
    </div>
</div>
