<div class="search_header">
    <div>
        <div id="side">
            <span class="gradient_text" style="font-size: 25px; margin-left: 10px;">Websurfx</span>
        </div>

        <div id="center" class="alternate_searchbar">
            <input type="search" name="search-box" value="{{this.pageQuery}}" placeholder="Search for something" />
            <i class='bx bx-search-alt-2' onclick="searchWeb()"></i>
        </div>

        <div id="side">
            <i class='bx bxs-moon' style='color: var(--darkmode_icon); font-size: 20px;'></i>
        </div>
    </div>
</div>