<div class="user_interface tab">
    <h1>User Interface</h1>
    <h3>select theme</h3>
    <p class="description">
        Select the theme from the available themes to be used in user interface
    </p>
    <select name="themes">
        <option value="simple">simple</option>
    </select>
    <h3>select color scheme</h3>
    <p class="description">
        Select the color scheme for your theme to be used in user interface
    </p>
    <select name="colorschemes">
        <option value="catppuccin-mocha">catppuccin mocha</option>
        <option value="dark-chocolate">dark chocolate</option>
        <option value="dracula">dracula</option>
        <option value="gruvbox-dark">gruvbox dark</option>
        <option value="monokai">monokai</option>
        <option value="nord">nord</option>
        <option value="oceanic-next">oceanic next</option>
        <option value="one-dark">one dark</option>
        <option value="solarized-dark">solarized dark</option>
        <option value="solarized-light">solarized light</option>
        <option value="tokyo-night">tokyo night</option>
        <option value="tomorrow-night">tomorrow night</option>
    </select>
</div>
