name: Rustfmt
on: 
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "rolling" 

jobs:
  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Ensure rustfmt is installed and setup problem matcher
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: Syndelis/rustfmt-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
